<h1>Bonjour {{ fullName }}, </h1>


<p>Ci-dessous votre nouvelles informations sur le nouveau site web de <a target="_blank" href="https://gate-news.com/"> Gate of Africa </a>  :</p>

<p>
    Login : {{ login }}
    Mot de passe : {{ login }}
</p>

<p>Nous vous invitons à vous connecter et à changer votre mot de passe dans les plus bref délais afin d'éviter d'éventuelles usurpations.</p>

<p>Cordialement!</p>
