.main-navigation li a {
    padding: 15px 13px!important;
    color: #fff;
    font-size: 15px!important;
}
.main-navigation ul li a:hover,
.main-navigation ul li.current-menu-item>a {
    background-color: #fef104!important;
    color: #000
}
.fa-home {
     color: #000!important;
 }
.cat-links a {
    color: #fef104!important;
}
.posted-on{
    color: #fef104!important;
}
.list-post .posted-on, .ct-grid-post .posted-on{
    color: #4169e1!important;
}
.menu-item-4798 mark{
    padding: 5px 22px;
    background-color: #000;
    color: #fef104;
    border-radius: 15px;
    border: 1px solid black;
}